{% extends 'banks/base.html' %}
{% block title %}Accounts - Bank Management System{% endblock %}
{% block content %}
<nav style="background-color: #333; padding: 10px; text-align: center;">
        <ul style="list-style-type: none; margin: 0; padding: 0;">
            <li style="display: inline; margin-right: 20px;">
                <button onclick="change_account_display('add_account')" style=" text-decoration: none; font-size: 18px;">Add New Account</button>
            </li>
             <li style="display: inline; margin-right: 20px;">
                <button onclick="change_account_display('show_accounts')" style=" text-decoration: none; font-size: 18px;">Show Available Accounts</button>
            </li>
        </ul>
    </nav>
    <div id="add_account" style="display: none; position: absolute;" >
        <form method="POST">
            {% csrf_token %}
            <h2>Open Account</h2>
            <table>
                <tr>
                    <td style="width:50%">
                        <label for="user_name">Enter User Name:</label>
                    </td>
                    <td>
                        <input type="text" id="user_name" name="user_name" required style="width:200%; padding: 10px; margin-bottom: 20px;">
                    </td>
                </tr>
                <tr>
                    <td style="width:50%">
                        <label for="balance">Balance</label>
                    </td>
                    <td>
                        <input type="number" step="any" id="balance" name="balance" required style="width:200%; padding: 10px; margin-bottom: 20px;">
                    </td>
                </tr>
            </table>
            <button type="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer; ">Submit</button>
        </form>
    </div>

    <div id="show_accounts" style="display: block; position:absolute;" >
        <table>
            <tr>
                <th>User Name</th>
                <th>Balance</th>
            </tr>
            {% for account in all_accounts %}
            <tr>
                <td>{{ account.user_name }}</td>
                <td>{{ account.balance }}</td>
                <td>
                    <form method="GET" action="{% url 'del_account' pk=account.id %}" onsubmit="return confirm('Are you sure you want to delete this account?');">
                        <button type="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer; ">
                            Delete Account
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}